#contact-form > * > * > * > * > * {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

#contact-form > * {
  max-width: var(--layout-container-width) !important;
  padding: 0 var(--padding-default);
}

#contact-form > * > * {
  border-right: 4px solid var(--verde-padrao) !important;
  border-bottom: 4px solid var(--verde-padrao) !important;
  border-left: 4px solid var(--verde-padrao) !important;
}

#contact-form > * > * > * > * > * > * {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

#contact-form > * > * > * > * > * > * > * {
  //background: transparent !important;
  box-shadow: none !important;
}

.ui.segment.primary {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.ui.icon.negative.attached.message {
  border: 1px solid var(--vermelho-alerta) !important;
  border-radius: 5px !important;
  background: var(--vermelho-alerta-transparente) !important;
}

.ui.icon.negative.attached.message > div > div {
  color: var(--vermelho-alerta) !important;
  font-size: 20px !important;
}

.ui.icon.negative.attached.message > div > p {
  color: white !important;
}

.ui.red.basic.label.form-error-label {
  padding-left: 20px !important;
  border: 1px solid var(--vermelho-alerta) !important;
  background: var(--vermelho-alerta-transparente) !important;
}

#contact-form > * > * > * > * > * > * > :nth-child(1) {
  color: var(--verde-padrao) !important;
  fill: var(--verde-padrao) !important;
  > h1 {
    font-size: 40px !important;
  }
}

#contact-form > * > * > * > * > * > * > :nth-child(2) {
  color: var(--vermelho-alerta) !important;
  fill: var(--vermelho-alerta) !important;
}

#contact-form
  > *
  > *
  > *
  > *
  > *
  > *
  > *
  > *
  > *
  > *
  > *:not(.ui.red.basic.label.form-error-label, textarea) {
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}

#contact-form > * > * > * > * > * > * > * > * > * {
  display: flex !important;
  flex-direction: column !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * {
  width: 100% !important;
}

.ui.form .field.error input[type='text'] {
  border-color: var(--vermelho-alerta) !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * > textarea {
  padding: 20px;
  border: none !important;
  border: 1px solid var(--cinza-barraEstado) !important;
  border-radius: 5px;
  background: transparent !important;
  box-shadow: none !important;
  color: var(--bege-padrao) !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * > * > * {
  background: transparent !important;
  color: var(--bege-padrao) !important;
}

.ui.form input[type='text'] {
  border-color: var(--cinza-barraEstado) !important;
}

.Toastify__toast-container--bottom-center .Toastify__toast--error {
  border: 1px solid var(--vermelho-alerta) !important;
  background: var(--vermelho-alerta) !important;
  color: white !important;
}

.toast-inner-content h4 {
  color: white !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * > * {
  color: white !important;
}
