@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import './components/Accordion.scss';
@import './components/BreadCrumbs.scss';
@import './Contraste.scss';
@import './components/ContForm.scss';
@import './components/BarraAcessibilidade.scss';
@import './components/BarraEstado.scss';
@import './components/Sitemap.scss';
@import './components/Forms.scss';
@import './mixins/buttons';
@import './components/Pesquisa.scss';
@import './components/Listing.scss';
@import './components/Listagem.scss';

*:not(.barra-estado__container, h2, button):not(.barra-estado__container *):not(
    [contenteditable]
  ):not([contenteditable] *) {
  font-family: 'Saira', Arial, Helvetica, sans-serif !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
  overflow-wrap: normal !important;
  white-space: normal !important;
}

body:not(.barra-estado__container) {
  background: var(--preto-background);
  color: var(--bege-padrao);
  font-family: 'Saira', Arial, Helvetica, sans-serif !important;
  .content-area p > a {
    color: var(--verde-padrao) !important;
    text-decoration: underline;
    &:hover {
      color: var(--bege-padrao) !important;
    }
  }
  .custom-checkbox {
    color: initial;
  }
}

.ui.raised.segments {
  background: white !important;

  > div {
    background: initial !important;
    color: initial !important;
  }
}

.dropzone-text {
  color: var(--preto) !important;
}

.toolbar-content {
  color: var(--preto) !important;
  font-family: revert !important;
}
.toolbar-content a {
  color: var(--preto) !important;
  text-decoration: revert !important;
}

p {
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--verde-padrao);
  font-weight: 900 !important;
}

.block a {
  &h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--verde-padrao) !important;
  }
  p {
    color: var(--bege-padrao) !important;
  }
}

.listing-body>h3{
  color: var(--verde-padrao) !important;
}

.toolbar-inner{
  width: 550px !important;
}

h2,
button {
  font-family: 'Saira Condensed', Arial, Helvetica, sans-serif !important;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
}

#sidebar {
  color: var(--preto);

  .row {
    padding: 15px 20px;
  }
}

// Botões temáticos
.block.__button .button.container .ui.button, // Também estilizar automaticamente o bloco Button padrão do Volto
.block.__button .ui.button:not(.basic):not(.icon):not(.delete-button):not(.block-add-button), // Aplicar estilo temático também ao bloco padrão de Button do Volto
.themed-button {
  // Classe para botões temáticos personalizados
  @include themed-button;
}

.content-area .delete-button svg path {
  fill: var(--bege-padrao);
}

.content-area .delete-button:hover {
  background: var(--bege-padrao) !important;
  fill: var(--vermelho-padrao) !important;
}

.main a {
  color: var(--verde-padrao) !important;
  text-decoration: none;

  &:hover {
    color: var(--bege-padrao) !important;
  }
}

.acess-wrapper {
  max-width: 100%;
  justify-content: space-between;
  color: var(--preto-background);
}

.figure > figcaption > div > p {
  color: var(--bege-padrao);
  font-size: 16px !important;
}

.blocks-group-wrapper > ul {
  max-width: var(--default-container-width) !important;
}

.block.separator .line::after {
  border-top: 4px solid var(--verde-padrao);
}

.block-editor-search .listing-item,
.block.listing .listing-item,
.block.search .listing-item,
.column > .block.listing .listing-item {
  border-bottom: 4px solid var(--verde-padrao);
}

[contenteditable],
[contenteditable='true'] {
  white-space: pre-wrap !important;
  white-space: break-spaces !important;
}

#footer {
  position: relative;
  padding-top: 2rem;
  margin-top: clamp(3rem, 6vh, 6rem);
  clear: both;
}

.blocks-group-wrapper > .block.form:last-child + #footer {
  margin-top: clamp(2rem, 4vh, 4rem);
}

.sidebar-container-enter-done {
  color: initial !important;
}

.header.pulled {
  flex-direction: row;
}

.rc-time-picker-panel-select {
  color: initial;
}

.content-area .q.container a.external:after,
.content-area .q.container a.external:after {
  filter: hue-rotate(240deg) saturate(2) brightness(1.1) contrast(1.8);
}
#page-document > * > * {
  padding: 0 var(--padding-default);
}
