.high-contrast #page-login .ui.secondary.segment {
  color: var(--branco) !important;
}

.high-contrast #page-login .login-form-submit {
  background-color: var(--preto) !important;
}

.high-contrast #page-login .ui.form .login-form-submit {
  background-color: var(--preto) !important;
  color: var(--branco) !important;
}

.high-contrast:not(#page-login):not(#page-login *),
.high-contrast .ui.segment:not(#page-login):not(#page-login *) {
  background-color: var(--bege-padrao) !important;

  p {
    color: var(--preto-background) !important;
  }

  span {
    color: var(--preto-background) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--verde-padrao) !important;
  }

  button,
  .block button:not(.delete-button),
  .block .link-button {
    background-color: var(--bege-padrao) !important;
    color: var(--preto-background) !important;
  }

  .acess-wrapper a {
    color: var(--preto-background) !important;
  }

  .acess-wrapper .acess-ul > li > a > svg {
    color: var(--preto-background) !important;
  }

  .acess-ul > * :hover {
    fill: var(--preto-background) !important;
  }

  #btn-contraste {
    color: var(--preto-background) !important;
  }

  .nav-item svg path,
  .logo-nav-wrapper .nav-search-icon svg path {
    fill: var(--preto-background) !important;
  }

  #page-login #login-form-submit,
  #page-login #login-form-cancel {
    background-color: var(--preto) !important;
    color: var(--branco) !important;
    svg path {
      fill: var(--branco) !important;
    }
  }

  .s-wrapper {
    border: 4px solid var(--preto-background) !important;
    background-color: var(--bege-padrao) !important;
    color: var(--preto-background) !important;
  }

  .breadcrumbs {
    border: none !important;
    border-bottom: 4px solid var(--verde-padrao) !important;
    background-color: var(--bege-padrao) !important;
  }

  .breadcrumbs .breadcrumb .home::before {
    background: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 20.356V14.356H14V20.356H19V12.356H22L12 3.35596L2 12.356H5V20.356H10Z" fill="%232D2D2D"/></svg>')
      no-repeat center center !important;
  }

  .breadcrumbs .breadcrumb .divider::before {
    color: var(--preto-background) !important;
  }

  .breadcrumbs .breadcrumb a {
    color: var(--preto-background) !important;
  }

  .accordion h3 {
    background-color: var(--bege-padrao) !important;
  }

  .accordion h3.active {
    background-color: var(--preto-background) !important;
    span {
      color: var(--bege-padrao) !important;
    }

    &:hover {
      background-color: var(--bege-padrao) !important;
      span {
        color: var(--preto-background) !important;
      }
    }
  }

  .accordion-block .accordion .content p {
    color: var(--bege-padrao) !important;
  }

  .accordion-block .accordion h3,
  .accordion-block .accordion .title,
  .accordion-block .accordion button[aria-expanded] {
    background-color: var(--bege-padrao) !important;
  }

  .accordion-block .accordion h3 span,
  .accordion-block .accordion .title span,
  .accordion-block .accordion button[aria-expanded] span {
    color: var(--preto-background) !important;
  }

  .accordion-block .accordion h3:hover,
  .accordion-block .accordion .title:hover,
  .accordion-block .accordion button[aria-expanded]:hover,
  .accordion-block .accordion h3.active,
  .accordion-block .accordion .title.active,
  .accordion-block .accordion button[aria-expanded][aria-expanded='true'] {
    background-color: var(--preto-background) !important;
  }

  .accordion-block .accordion h3:hover span,
  .accordion-block .accordion .title:hover span,
  .accordion-block .accordion button[aria-expanded]:hover span,
  .accordion-block .accordion h3.active span,
  .accordion-block .accordion .title.active span,
  .accordion-block .accordion button[aria-expanded][aria-expanded='true'] span {
    color: var(--bege-padrao) !important;
  }

  .sustentabilidade-coluna-esquerda a {
    background-color: var(--bege-padrao) !important;
    color: var(--preto-background) !important;
  }

  #footer {
    padding-top: 2rem !important;
    margin-top: clamp(
      3rem,
      6vh,
      6rem
    ) !important; /* mesmo buffer em contraste */
    background-color: var(--preto-background) !important;
    clear: both;
    color: var(--bege-padrao) !important;

    p {
      color: var(--bege-padrao) !important;
    }
    .rodape-titulo {
      color: var(--verde-padrao) !important;
    }
    a {
      color: var(--verde-claro) !important;
    }
    .rodape__mapa-site__item a,
    .rodape__mapa-site__item ul li a,
    .rodape__mapa-site .rodape__mapa-site__item ul li a {
      color: var(--verde-claro) !important;
    }
    a:hover,
    .rodape__mapa-site__item > a:hover,
    .rodape__mapa-site__item > ul > li > a:hover,
    .rodape__mapa-site .rodape__mapa-site__item ul li a:hover {
      color: var(--verde-claro) !important;
    }
  }
  .footer-logo {
    background-color: var(--branco) !important;
  }

  .co2-badge {
    color: var(--bege-padrao) !important;

    p,
    span,
    strong,
    .co2-badge-value {
      color: var(--bege-padrao) !important;
    }
  }

  .block.form .ui.form .field .ui.input > input,
  .block.form .ui.form .field textarea,
  .block.form .ui.form .field select,
  .block.form .ui.form .field input:not([type='checkbox']):not([type='radio']) {
    background-color: var(--bege-padrao) !important;
    color: var(--preto-background) !important;
  }
  .block.form .ui.form .field ::placeholder {
    color: var(--preto-background);
  }
  .block.form .ui.form .field .ui.selection.dropdown {
    background-color: var(--bege-padrao) !important;
    color: var(--preto-background) !important;
  }
  .block.form .ui.form .field .ui.selection.dropdown .text {
    color: var(--preto-background) !important;
  }
  .block.form .ui.form .field .ui.selection.dropdown .menu {
    background-color: var(--bege-padrao);
  }
  .block.form .ui.form .field .ui.selection.dropdown .menu > .item {
    color: var(--preto-background);
  }
  .block.form .ui.form .field .ui.grid .column .wrapper > label,
  .block.form .ui.form .inline.field .wrapper > label {
    color: var(--verde-padrao) !important;
  }
  #page-document .blocks-group-wrapper > .block.form {
    background-color: var(--bege-padrao) !important;
  }

  #page-document .blocks-group-wrapper > .block.form:last-child {
    padding-bottom: 6rem !important;
  }
  .blocks-group-wrapper > .block.form:last-child + #footer {
    margin-top: clamp(2rem, 4vh, 4rem) !important;
  }
  #contact-form > * > * > * > * > * > * > * > * > * > * > * > * {
    color: var(--preto-background) !important;
  }

  #contact-form > * > * > * > * > * > * > * > * > * > * > textarea {
    color: var(--preto-background) !important;
  }

  .ui.icon.negative.attached.message > div > * {
    color: var(--vermelho-alerta) !important;
  }

  .toast-inner-content > h4 {
    color: white !important;
  }

  #contact-form > * > * > * > * > * > * > * > * > * > * > * {
    color: var(--vermelho-alerta) !important;
  }
}
