:root {
  --preto-background: #2d2d2d;
  --verde-padrao: #00b033;
  --verde-escuro: #1e592f;
  --verde-claro: #a0d7a0;
  --bege-padrao: #f0ead7;
  --preto: #000;
  --branco: #ffffff;
  --cinza-barraEstado: #4f5050;
  --verde-claro: #a0d7a0;
  --vermelho-alerta: #e20613;
  --vermelho-alerta-transparente: rgba(226, 6, 19, 0.2);
  --layout-container-width: 1200px;
  --saira: 'Saira', sans-serif;
  --saira-semi-condensed: 'Saira Semi Condensed', sans-serif;
  --saira--condensed: 'Saira Condensed', sans-serif;
}
