header {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  width: 100%;
}

.header-wrapper .header {
  max-width: 100% !important;
}

.header-images {
  display: flex;
  width: 100%;
  max-width: var(--layout-container-width);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-default);
  margin: 24px 0px;
  margin-right: auto;
  margin-left: auto;
  gap: 30px;
}

.logo-nav-wrapper-content {
  display: flex;
  width: 100%;
  width: 100%;
  max-width: var(--layout-container-width);
  height: inherit;
  padding: 0 var(--padding-default);
  border: auto;
  margin-right: auto;
  margin-left: auto;
}

.header-wrapper .header .logo-nav-wrapper {
  justify-content: flex-start !important;
}

.logo-nav-wrapper {
  display: flex;
  height: 80px;
  align-items: stretch;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top: 4px solid var(--verde-padrao);
  border-bottom: 4px solid var(--verde-padrao);
  gap: 0;
}

.logo-nav-wrapper button {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 27px 32px;
  border-right: 2px solid var(--verde-padrao) !important;
  border-left: 2px solid var(--verde-padrao) !important;
  margin: 0;
  background: var(--preto-background);
  color: var(--bege-padrao) !important;
  font-size: 24px;
  font-weight: 900;
}

.logo-nav-wrapper.home-icon a {
  padding: 22px 32px;
  border-right: 2px solid var(--verde-padrao);
  border-left: 4px solid var(--verde-padrao);
}

.logo-nav-wrapper button:hover {
  background-color: var(--bege-padrao) !important;
  color: var(--preto-background) !important;
}

.logo-nav-wrapper .nav-item {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

.logo-nav-wrapper a.nav-item:hover svg path {
  fill: #2d2d2d !important;
}

.logo-nav-wrapper .nav-search-icon {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 24px 32px;
  border: none;
  border-right: 4px solid var(--verde-padrao) !important;
  border-left: 2px solid var(--verde-padrao);
  background: transparent;
  cursor: pointer;
}

.nav-search-icon:hover {
  background-color: var(--bege-padrao);
}

.nav-search-icon:hover svg path {
  fill: #2d2d2d !important;
}

.search-bar-absolute {
  position: fixed;
  z-index: 2000;
  width: 100vw;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  animation: fadeInDown 0.2s;
  background: var(--verde-padrao);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-scroll {
  padding: 25px 29px;
  border: 3px solid transparent;
  border-radius: 20px;
  animation-name: appear;
  animation-timeline: scroll(y);
  background-color: var(--verde-padrao);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  &:hover {
    border-color: #fff !important;
    background-color: var(--verde-escuro) !important;
    color: #fff !important;
  }
}

/* Posição fixa do botão scroll */
.btn-scroll {
  position: fixed;
  z-index: 9999;
  right: 10%;
  bottom: 45px;
}

body.has-sidebar .btn-scroll {
  right: 385px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-item-wrapper {
  position: relative;
  display: inline-block;
}

.submenu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  min-width: 100%;
  border: 2px solid var(--verde-padrao);
  animation: fadeInDown 0.2s;
  background: var(--bege-padrao);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.nav-item-wrapper.active > .nav-item {
  background-color: var(--bege-padrao) !important;
  color: var(--preto-background) !important;
}

.nav-item-wrapper.has-submenu:hover > a,
.nav-item-wrapper.has-submenu:focus-within > a,
.nav-item-wrapper.has-submenu .submenu:hover ~ a,
.nav-item-wrapper.has-submenu .submenu:focus-within ~ a {
  background-color: var(--bege-padrao) !important;
  color: var(--preto-background) !important;
}

.nav-item-wrapper.has-submenu:hover .submenu,
.nav-item-wrapper.has-submenu:focus-within .submenu {
  display: block;
}

.submenu-item {
  display: block;
  padding: 18px 24px;
  border-bottom: 2px solid var(--verde-padrao);
  background: var(--bege-padrao);
  font-size: 16px !important;
  font-weight: 700;
  text-decoration: none;
  transition:
    background 0.2s,
    color 0.2s;
}
.submenu-item:last-child {
  border-bottom: none;
}
.logo-nav-wrapper .submenu-item {
  background-color: var(--bege-padrao);
  color: var(--preto-background);
}

.logo-nav-wrapper .submenu .submenu-item {
  color: var(--preto-background) !important;
  text-transform: uppercase;
}

.logo-nav-wrapper .submenu .submenu-item:hover {
  background-color: var(--verde-claro) !important;
}

.icon-home-mobile,
.icon-search-mobile {
  display: none;
}
.icon-home-desktop,
.icon-search-desktop {
  display: inline;
}

.logo-nav-wrapper button:hover {
  background-color: var(--bege-padrao) !important;
  color: var(--preto-background) !important;
}

.logo-nav-wrapper .nav-item:hover,
.logo-nav-wrapper .nav-item:focus {
  background-color: var(--bege-padrao) !important;
  color: var(--preto-background) !important;
}

.govrs-logo {
  display: inline-block;
  width: auto;
  height: 33px;
  margin-right: 16px;
}

.icon-home-desktop:hover svg path,
.icon-search-desktop:hover svg path,
.icon-home-mobile:hover svg path,
.icon-search-mobile:hover svg path {
  fill: var(--preto-background) !important;
}

.home-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .logo-nav-wrapper {
    height: 56px;
  }
  .logo-nav-wrapper button {
    padding: 15px;
    font-size: 16px;
  }

  .nav-search-icon {
    padding: 12px;
  }

  .icon-home-desktop,
  .icon-search-desktop {
    display: none !important;
  }
  .icon-home-mobile,
  .icon-search-mobile {
    display: inline !important;
  }

  .logo-nav-wrapper.home-icon a {
    padding: 11px 15px;
    border-left: 4px solid var(--verde-padrao);
  }

  .logo-nav-wrapper .nav-search-icon {
    padding: 16px 16px;
  }

  .search-bar-absolute {
    left: 0 !important;
    width: 100vw !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 480px) {
  .logo-nav-wrapper {
    padding: 0 !important;
  }
  .logo-nav-wrapper button {
    padding: 15px 8px;
    border: 0 !important;
    font-size: 13px;
  }
  .logo-nav-wrapper.home-icon a {
    padding: 15px 8px;
    border-left: 0;
  }

  .logo-nav-wrapper .nav-search-icon {
    border-right: 0 !important;
    border-left: 2px solid var(--verde-padrao) !important;
  }

  .logo-nav-wrapper .nav-item {
    font-size: 4.7vw !important;
  }

  .nav-item-wrapper.has-submenu {
    flex: 1;
    border-right: 2px solid var(--verde-padrao);
    border-left: 2px solid var(--verde-padrao);
    justify-items: center;
  }
  .nav-item-wrapper.has-submenu button {
    flex: 1;
    justify-content: space-between;
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav-arrow {
    display: inline-flex;
    align-items: center;
    transition: transform 0.2s;
  }

  .nav-arrow.up svg path {
    fill: var(--preto-background);
  }

  .header-images svg {
    width: 156px;
  }
  .header-images img {
    width: 99px;
  }

  .logo-nav-wrapper {
    padding: 0 !important;
  }
  .logo-nav-wrapper button {
    padding: 15px 8px !important;
  }
  .logo-nav-wrapper-content {
    padding: 0;
  }
}

.header-images svg {
  width: 386px;
  max-width: 100%;
  height: auto;
}
.header-images img {
  width: 254px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1279px) and (min-width: 481px) {
  .header-images svg {
    width: 333px;
  }
  .header-images img {
    width: 235px;
  }
}
